<div class="home-lessons">
    <article class="post-warp">
        <ul>
            <li>1. <span>learn from every person you meet</span></li>
            <li>2. <span>listen to your heart</span></li>
            <li>3. <span>set simple and audacious goals</span></li>
            <li>4. <span>allow yourself to be afraid</span></li>
            <li>5. <span>use time with dicipline and focus</span></li>
            <li>6. <span>keep things fun, and live until you are 80 years old</span></li>
        </ul>
    </article>
</div>
